.infinite-scrolling {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: 100%;
  width: 350px;
  height: 350px;
}

.infinite-scrolling img {
  height: 200px;
  margin-right: 20px;
  animation: scroll 20s linear infinite;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.infinite-scrolling:hover img {
  animation-play-state: paused;
}
